.comments {
    padding-top: 5px;
    & .comment-box {
        width: max-content;
        background-color: #F0F2F5;
        border-radius: 10px;
        & .comment-text {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}
